{{define "footer"}}
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Hooper Development</strong> &copy; {{.Year}}. All rights reserved.
        </p>
        <p class="is-size-7 has-text-grey">
            <a href="mailto:jason@hooperdevelopment.com">
                <span class="icon-text">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <span>jason@hooperdevelopment.com</span>
                </span>
            </a>
        </p>
    </div>
</footer>
{{end}}
